<ion-content [fullscreen]="true">
  <ion-segment-view>
    <ion-segment-content id="home">
      <div #pageHeader>
        <ion-header class="header">
          <img src="assets/logo_tradetail_negro.png" alt="Logo" />
        </ion-header>
      </div>

      <div class="scroll-container">
        <ion-grid [fixed]="true">
          @for (c of categories; track c.id) {
          <ion-col size="auto" role="article">
            <ion-avatar style="width: 80px; height: 80px; margin-bottom: 4px">
              <img
                [src]="c.avatar"
                alt="Avatar de {{c.name}}"
                (click)="listCategories(c.id)"
              />
            </ion-avatar>
          </ion-col>
          }
        </ion-grid>
      </div>

      @if (showAllShops) {
      <ion-searchbar
        animated="true"
        *ngIf="showAllShops"
        placeholder="Buscar Negocio"
        (ionInput)="handleInput($event)"
      ></ion-searchbar>
      <div class="shop-scroll" #shopScroll>
        @for (shop of results; track $index) {
        <div class="shop-item">
          <app-shop-preview [shop]="shop"></app-shop-preview>
        </div>
        }
      </div>

      } @if (!showAllShops) {
      <button shape="round" (click)="showAllShops = true">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </button>

      <h1 style="text-align: center">{{category?.name}}</h1>

      <div class="shop-scroll" #shopScroll>
        @for (shop of shopsByCategory; track $index) {
        <div class="shop-item">
          <app-shop-preview [shop]="shop"></app-shop-preview>
        </div>
        }
      </div>
      }
      <div style="text-align: center; margin: 30px">
        <ion-button (click)="scrollToTop()" style="text-align: center">
          Volver Arriba</ion-button
        >
      </div>
    </ion-segment-content>
    <ion-segment-content id="search">search</ion-segment-content>
    <ion-segment-content id="heart"
      ><ion-header>
        <ion-toolbar color="primary">
          <ion-title>Registrar Tienda</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form #shopForm="ngForm" (ngSubmit)="onSubmit(shopForm)">
          <!-- Nombre -->
          <ion-item [ngClass]="getClass(name)">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input
              name="name"
              [(ngModel)]="shop.name"
              required
              #name="ngModel"
            ></ion-input>
          </ion-item>

          <!-- Descripción -->
          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea
              name="description"
              [(ngModel)]="shop.description"
            ></ion-textarea>
          </ion-item>

          <!-- Contactos -->
          <ion-item [ngClass]="getClass(t_contact)">
            <ion-label position="stacked">Teléfonos de Contacto</ion-label>
            <ion-select
              name="t_contact"
              [(ngModel)]="shop.t_contact"
              multiple
              interface="action-sheet"
              required
              #t_contact="ngModel"
              placeholder="Selecciona o añade"
            >
              @for (phone of shop.t_contact; track $index) {
              <ion-select-option [value]="phone">{{ phone }}</ion-select-option>
              }
            </ion-select>
            <ion-button fill="clear" slot="end" (click)="openPhoneModal()">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <!-- Coordenadas -->
          <ion-item>
            <ion-label position="stacked">Latitud</ion-label>
            <ion-input
              type="number"
              name="latitude"
              [(ngModel)]="shop.latitude"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Longitud</ion-label>
            <ion-input
              type="number"
              name="longitude"
              [(ngModel)]="shop.longitude"
            ></ion-input>
          </ion-item>

          <!-- Categoría -->
          <ion-item [ngClass]="getClass(category)">
            <ion-label position="stacked">Categoría</ion-label>
            <ion-select
              name="category"
              [(ngModel)]="shop.category"
              required
              #categoryFields="ngModel"
            >
              @for (cat of categories; track cat.id) {
              <ion-select-option [value]="cat">{{cat.name}}</ion-select-option>
              }
            </ion-select>
          </ion-item>

          <!-- Botón -->
          <ion-button
            color="primary"
            expand="block"
            type="submit"
            [disabled]="!shopForm.form.valid"
          >
            Guardar Tienda
          </ion-button>
        </form>
      </ion-content>
    </ion-segment-content>
    <ion-segment-content id="profile">
      <app-profile [user]="this.user"></app-profile>
    </ion-segment-content>
  </ion-segment-view>
  <ion-modal
    [isOpen]="showPhoneModal"
    (didDismiss)="closePhoneModal()"
    class="small-phone-modal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="closePhoneModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Nuevo número</ion-label>
          <ion-input
            name="newPhone"
            [(ngModel)]="newPhone"
            type="tel"
            placeholder="Ej. 600123456"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="addPhone()" color="primary"
          >Añadir</ion-button
        >
        <!--<ion-text color="danger" *ngIf="invalid">
          <p>El número no es válido o ya está añadido.</p>
        </ion-text>-->
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar mode="md">
    <ion-segment value="home">
      <ion-segment-button value="home" content-id="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="search" content-id="search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="heart" content-id="heart">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="profile" content-id="profile">
        <ion-icon name="person-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
