<ion-card class="shop-card">
  <img [src]="shop.image" alt="{{shop.name}}" class="shop-image" />

  <ion-card-header>
    <ion-card-title>{{ shop.name }}</ion-card-title>
    <ion-card-subtitle
      >{{ shop.category?.name || 'Sin categoría' }}</ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content>
    <p class="shop-description">{{ shop.description }}</p>

    <ion-chip color="primary">
      <ion-icon name="location-outline"></ion-icon>
    </ion-chip>

    <ion-chip color="warning">
      <ion-icon name="star"></ion-icon>
      {{ shop.stars }} / 5
    </ion-chip>

    <div class="contact-info">
      <ion-icon name="call-outline"></ion-icon>
      @for (contact of shop.t_contact; track $index) {
      <span>{{ contact }}</span>
      }
    </div>

    <div class="address">
      <ion-icon name="navigate-outline"></ion-icon>
      {{ shop.address }}
    </div>
  </ion-card-content>
</ion-card>
