<footer class="footer">
  <div class="container">
    <div class="text-center">
      <a (click)="viewEmit('home')" class="footer-icon">
        <i class="fas fa-home"></i>
        <p>Inicio</p>
      </a>
    </div>
    <div class="text-center">
      <a (click)="viewEmit('orders')" class="footer-icon">
        <i class="fas fa-history"></i>
        <p>Pedidos</p>
      </a>
    </div>
    <div class="text-center">
      <a (click)="viewEmit('profile')" class="footer-icon">
        <i class="fas fa-user"></i>
        <p>Perfil</p>
      </a>
    </div>
  </div>
</footer>
