header {
  width: 100%;
  height: 20%;
}

.container-avatar {
  display: flex;
  justify-content: start;
  align-items: center;
}

.avatar img {
  width: 130px;
  border-radius: 10em;
  align-items: center;
}

.avatarOut {
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(222, 222, 222);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 10px;
  padding: 50px;
  border-radius: 10em;
}

@media (max-width: 800px) {
  .avatarOut {
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(222, 222, 222);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 10px 0 10px;
    padding: 30px;
    border-radius: 10em;
  }

  .avatar img {
    width: 85px;
    border-radius: 10em;
    align-items: center;
  }
}

.avatarOut i {
  color: greY;
  font-size: 40px;
}

@media (max-width: 1000px) {
  .avatar {
    width: 20%;
    height: 20%;
    border-radius: 10em;
    margin: 10px 10px 0 10px;
    align-items: center;
  }
}

.borde {
  border: 1px solid rgba(128, 128, 128, 0.394);
  margin: 10px 10px 15px 0px;
}

.container-main {
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 0;
  background: rgb(255, 255, 255);
  padding: 15px 5px 15px 5px;

  border: 2px solid rgba(128, 128, 128, 0.394);
  border-left: 0;
  border-right: 0;
}

.button-profile {
  border: 0;
  background: none;
  margin: 20px;
  margin-left: 10px;
  font-size: 23px;
}

.buttons:hover {
  animation: background-buttons 1s infinite alternate;
}

@keyframes background-buttons {
  from {
    background-color: white;
  }
  to {
    background-color: rgb(219, 219, 219);
  }
}
